*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2%;
}

.page {
    width: 95%;
    margin: 0 auto;
    color: #fff;
    font-size: 1.5em;
}

.header {
    background: #B65727;
    min-height: 80px;
}

.sidebar {
    background: #AF20B6;
    min-height: 200px;
    width: 20%;
    display: inline-block;
}

.sidebar-left {
    float: left;
    margin-right: 5%;
}

.sidebar-right {
    float: right;
}

.main {
    background: #57B604;
    min-height: 500px;
    width: 50%;
    display: inline-block;
    float: left;
}

.footer {
    background: #4EB7D7;
    min-height: 80px;
    clear: both;
}

@media screen and (max-width: 1024px) {
    .sidebar-right {
        float: none;
        display: block;
        clear: both;
        width: 100%;
    }
    
    .sidebar-left {
        width: 30%;
    }
    
    .main {
        float: right;
        width: 65%;
    }
}
 
@media screen and (max-width: 660px) {
    .main, .sidebar {
        float: none;
        display: block;
        width: 100%;
    }
}
