* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/bg.jpg) repeat-x;
    background-color: rgb(26,40,88);
    font-family: arial;
}

p {
    margin: 10px 0;
}

.main {
    width: 950px;
    margin: auto;
}

.header {
    height: 200px;
    background: url(../img/header_bg.jpg) no-repeat;
}

.logo {
    padding: 20px 0 0 275px;
}

.main_content {
    min-height: 700px;
    width: 787px;
    margin: auto;
    background: url(../img/container_center_bg.jpg) repeat-y;
}
.center_content {
    min-height: inherit;
    background: url(../img/container_top_bg.jpg) no-repeat;
}

.menu {
    width: 600px;
    margin-left: 240px;
}

.menu::after {
    content: '';
    display: block;
    clear: both;
}

.menu li {
    list-style: none;
    float: left;
}

.menu li a {
    display: block;
    height: 30px;
    width: 130px;
    background: url(../img/bt.gif) no-repeat;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.menu li a:hover, .menu li a.active {
    background: url(../img/bt_a.gif) no-repeat;
}

.welcome {
    width: 500px;
}

.welcome::after {
    content: '';
    display: block;
    clear: both;
}

.title {
    padding-top: 20px;
    margin-left: 40px;
    border-bottom: 1px dashed black;
}

.img_wrapper {
    float: left;
    margin: 10px 30px;
}
.products {
    width: 700px;
}

.img_products {
    float: left;
    margin: 10px 20px;
    list-style: none;
}
.title1 {
    
    margin: 15px;
    padding-top: 20px;
    margin-left: 40px;
	border-bottom: 1px dashed black;
   
}
.title2 {
    list-style: none;
    padding-top: 20px;
    margin-left: 40px;
    border-bottom: 1px dashed black;
}

.border{
	border-left: 1px dashed black;
} 
.new {
    width: 700px;
}
.wrapper {   
    width: 700px;
  /*  height: 200px;*/
    margin: auto;
   /* overflow: hidden;*/
    
    
}

.wrapper::after{
    content: '';
    display: block;
    clear: both;


}
.mn{
    
    float: left;
  
    
  
}
.pltxt{
     width: 250px;
}
.pl{
    margin-left: 50px;
}
.img_footer{
     margin-left: 50px;
    
}
.footer_content {
	min-height: 55px;
    background: url(../img/footer_bg.jpg) no-repeat;
}

