.wrapper {
    width: 900px;
  /*  height: 200px;*/
    margin: auto;
    border: 1px solid red;
    
   /* overflow: hidden;*/
   }
/*
.wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.box{
    width: 150px;
    height: 150px;
    background: red;
    border: 1px solid bleck;
    margin: 10px;
    float: left;
   }

.box2{
    background: black;
    height: 50px;
   /* clear: both;
}

*/
.box1{
    background:bisque;
    height: 250px;
    width:auto;
    color: black;
    text-align-last: center;
    
        
}
.box2{
    background:darkblue;
    height: 50px;
    width: auto;
    color: white;
    text-align-last: center;
    
}
.box31{
    background:darkolivegreen;
    width:300px;
    height: 600px;
   margin: auto;
    color: black;
    text-align-last: center;
    float:left;
}
.box32{
    background:darkgoldenrod;
    width:300px;
    height: 600px;
    margin: auto;
    color: black;
    text-align-last: center;
    float: left;
}
.box33{
    background:darkorchid;
    width:auto;
    height: 600px;
    margin: auto;
    color: black;
    text-align-last: center;
    
   
}
.box4{
    background:darkblue;
    height: 50px;
      width: auto;
    color: white;
    text-align-last: center;
}
